.room {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 76px;
}

.room:hover {
    background: rgba(255, 255, 255, 0.7);
}

.info_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 74%;
}

.ava {
    width: 20%;
}

.username_info {
    color: white;
    font-size: 34px;
    font-weight: bold;
    margin: auto;
}

.message_content {
    color: gray;
    font-size: 18px;
}